browsermob-proxy==0.8.0
certifi==2019.9.11
chardet==3.0.4
chardet2==2.0.3
idna==2.8
numpy==1.16.5
pandas==0.24.2
pathlib==1.0.1
psutil==5.6.3
python-dateutil==2.8.0
pytz==2019.2
requests==2.22.0
selenium==3.141.0
six==1.12.0
tqdm==4.36.1
urllib3==1.25.6
XlsxWriter==1.2.1
